<div class="container">
	<%= content_for :form do %>
		<h2 class="form-signin-heading">Sign up</h2>
	<% end %>
	<%= content_for :links do %>
		<%= render "devise/shared/links" %>
	<% end %>

<%= render "devise/registrations/form" %>

</div> <!-- /container -->
